<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="n1">
    <select name="" id="" v-model="opt">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
    </select>
    <input type="text" v-model="n2">
    <input type="button" value="=" @click="comput">
    <input type="text" v-model="result">
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        n1: null,
        n2: null,
        result: null,
        opt: '-'
      },
      methods: {
        comput() {
          // switch (this.opt) {
          //   case '+':
          //     this.result = parseInt(this.n1) + parseInt(this.n2)
          //     break;
          //   case '-':
          //     this.result = parseInt(this.n1) - parseInt(this.n2)
          //     break;
          //   case '*':
          //     this.result = parseInt(this.n1) * parseInt(this.n2)
          //     break;
          //   case '/':
          //     this.result = parseInt(this.n1) / parseInt(this.n2)
          //     break;
          // }
          this.result = eval(this.n1 + this.opt + this.n2)
        }
      }
    })
  </script>
</body>

</html>